@using FinanceApp.Models.Dtos
@using System.Globalization
@using System.Net
@using FinanceApp.Web.Services
@inject HttpClient Http


<table class="table table-bordered table-striped">
	<thead>
		<tr>
			@foreach (var day in days)
			{
				<th style="width: @(100 / days.Count())%;">@day</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var week in weeks)
		{
			<tr>
				@foreach (var day in week.Dates)
				{
					<td style="height: 160px;">
						@day.DateValue
						<br />
						@foreach (var company in EarningsCalendarList)
						{
							if (StockIsOwned(company.Symbol) && company.Date == day.DateValue)
							{
								<br />
								<text>Ticker: @company.Symbol</text>

								<br />
								<text>Quarter: @company.Quarter</text>
							}
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>

@code {


	[Parameter]
	public IEnumerable<EarningsCalendarDto> EarningsCalendarList { get; set; }

	[Parameter]
	public string Length { get; set; }

	[Parameter]
	public IEnumerable<StockHoldingDto> StockHoldings { get; set; }

	public DateTime startDate = DateTime.Now;
	public DateTime endDate = DateTime.Now;

	public List<string> days = new List<string>();
	public List<WeekClass> weeks = new List<WeekClass>();


	protected override async Task OnInitializedAsync()
	{
		GenerateCalendar();
	}

	public void GenerateCalendar()
	{
		DateTime FirstWeekOfMonth = new(DateTime.Now.Year, DateTime.Now.Month, 1);

		var numberOfDaysToAdd = 0;

		if (Length == "week")
		{
			numberOfDaysToAdd = 6;
			startDate = GetFirstMondayOfWeek(startDate.Year, GetWeekNumber(startDate));
		}
		else if (Length == "month")
		{
			numberOfDaysToAdd = 34;
			startDate = GetFirstMondayOfWeek(FirstWeekOfMonth.Year, GetWeekNumber(FirstWeekOfMonth));
		}

		endDate = startDate.AddDays(numberOfDaysToAdd);

		GenerateCalendarHead();
		GenerateCalendarBody();
	}

	public void GenerateCalendarHead()
	{
		var day1 = new List<string>();
		for (var dt = startDate; dt <= endDate; dt = dt.AddDays(1))
		{
			day1.Add(dt.ToString("dddd"));
		}

		days = day1.Distinct().ToList();
	}

	public void GenerateCalendarBody()
	{
		weeks = new List<WeekClass>();

		int flag = 0;
		WeekClass week = new WeekClass();
		List<DayEvent> dates = new List<DayEvent>();
		var totalDays = (int)(endDate - startDate).TotalDays;
		int countDays = 0;

		for (var dt = startDate; dt <= endDate; dt = dt.AddDays(1))
		{
			flag++;

			dates.Add(new DayEvent()
				{
					DateValue = dt.ToString("yyyy-MM-dd"),
					DayName = dt.ToString("dddd")
				});

			if (flag == 7)
			{
				week = new WeekClass();
				week.Dates = dates;
				weeks.Add(week);

				dates = new List<DayEvent>();
				flag = 0;
			}

			if (countDays == totalDays)
			{
				week = new WeekClass();
				week.Dates = dates;
				weeks.Add(week);
				break;
			}

			countDays++;
		}
	}

	public DateTime GetFirstMondayOfWeek(int year, int weekOfYear)
	{
		DateTime jan1 = new DateTime(year, 1, 1);
		int daysOffset = DayOfWeek.Monday - jan1.DayOfWeek;
		DateTime firstMonday = jan1.AddDays(daysOffset);

		int firstWeek = CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(jan1, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);

		if (firstWeek <= 1)
		{
			weekOfYear -= 1;
		}

		return firstMonday.AddDays(weekOfYear * 7);
	}

	public int GetWeekNumber(DateTime date)
	{
		return CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(date, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
	}

	private bool StockIsOwned(string symbol)
	{
		foreach (var stock in StockHoldings)
		{
			if (stock.StockSymbol == symbol)
			{
				return true;
			}
		}
		return false;
	}

	public class DayEvent
	{
		public DateTime FromDate { get; set; }
		public DateTime ToDate { get; set; }
		public string DateValue { get; set; }
		public string DayName { get; set; }
	}

	public class WeekClass
	{
		public List<DayEvent> Dates { get; set; } = new List<DayEvent>();
	}
}