@page "/mystock"
@using Newtonsoft.Json
@using System.Globalization
@using FinanceApp.Models.Dtos
@using FinanceApp.Web.Components
@inject HttpClient Http

@inherits MyPortfolioBase

<PageTitle>My Portfolio</PageTitle>

<h1>My Portfolio</h1>

<SearchBarComponent TEntity="StockDto"></SearchBarComponent>
@* <SearchBarComponent TEntity="StockDto" OnSearch="UpdateFilteredStocks"></SearchBarComponent> *@

<br />
<td><button class="btn btn-primary" @onclick="() => GetCurrentStockPrice()">Refresh</button></td>

@if (EarningsCalendarEvents == null)
{
	<p>Loading...</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Name</th>
				<th>BuyingPrice</th>
				<th>CurrentPrice</th>
				<th>Quantity</th>
				<th>Gain</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var stock in _filteredStocks)
			{
				<tr>
					<td>@stock.Symbol</td>
					<td>@stock.Name</td>
				</tr>
			}
		</tbody>
	</table>
	<br />
	<table class="table table-bordered table-striped">
		<tr>
			<th style="width: @(100 / 4)%;">Total Worth: @GetTotalWorth() </th>
			<th style="width: @(100 / 4)%;">Risk(beta): 1.2</th>
			<th style="width: @(100 / 4)%;">Total Gain: @GetTotalGain()</th>
			<th style="width: @(100 / 4)%;">Estimated annual dividend: 54 USD</th>
		</tr>
	</table>

	<br />
	<h4 style="text-align: center;">Uke: @GetWeekNumber(DateTime.Now)</h4>

	<DisplayCalendar Length="week" EarningsCalendarEvents="EarningsCalendarEvents" Stocks="Stocks"></DisplayCalendar>
}

@code {
	private async Task GetCurrentStockPrice()
	{
		// foreach (var stock in Stocks)
		// {
		// 	var response = await Http.GetAsync($"https://localhost:7282/GetStockPrice/api/getstockprice/{stock.Symbol}");

		// 	if (response.IsSuccessStatusCode)
		// 	{
		// 		var jsonResponse = await response.Content.ReadAsStringAsync();
		// 		var responseObject = JsonConvert.DeserializeObject<StockPriceCandleDto>(jsonResponse);

		// 		// responseObject.Current;
		// 	}
		// }
	}
}
