@page "/tradingpage"
@using Newtonsoft.Json
@using System.Text
@inject HttpClient Http

<h3>Trading Page</h3>

<form @onsubmit="Search">
	<input type="text" @bind="searchString" @bind:event="oninput" />
	<button type="submit">Search</button>
</form>

@if (searchedStocks == null)
{

}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Current Price</th>
				<th>Open Price</th>
				<th>Previous Price</th>
				<th>High</th>
				<th>Low</th>
				<th>Percent Change</th>
				<th>Change</th>
				<th>Time</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			@foreach (var stock in searchedStocks)
			{
				<tr>
					<td>@stock.Symbol</td>
					<td>@stock.Current</td>
					<td>@stock.Open</td>
					<td>@stock.Previous</td>
					<td>@stock.High</td>
					<td>@stock.Low</td>
					<td>@stock.PercentChange</td>
					<td>@stock.Change</td>
					<td>@FormatDateTime(stock.Time)</td>
					<td><button class="btn btn-primary" @onclick='() => ShowBuyStockForm("buy")'>Buy</button></td>
					<td><button class="btn btn-primary" @onclick='() => ShowBuyStockForm("sell")'>Sell</button></td>
				</tr>
				@if (showBuyForm)
				{
					<div class="buy-form">
						<input type="text" @bind="insertedName" placeholder="Enter stock name for @stock.Symbol" />
						<input type="number" @bind="insertedQty" placeholder="Enter quantity for @stock.Symbol" />
						<button @onclick="() => ConfirmBuy(stock)">Confirm</button>
					</div>
				}
				@if (showSellForm)
				{
					<div class="sell-form">
						<input type="number" @bind="insertedQty" placeholder="Enter quantity for @stock.Symbol" />
						<button @onclick="() => ConfirmSell(stock)">Confirm</button>
					</div>
				}
			}
		</tbody>
	</table>


}



@code {
	private List<StockSearchResponse> searchedStocks;

	private string searchString;

	private bool showBuyForm = false;
	private bool showSellForm = false;

	private string insertedName;
	private int insertedQty;

	async Task Search()
	{
		await ShowStockInfo();
	}

	async Task ShowStockInfo()
	{
		var response = await Http.GetAsync($"https://localhost:7282/stocks/{searchString}");
		if (response.IsSuccessStatusCode)
		{

			var jsonResponse = await response.Content.ReadAsStringAsync();
			var responseObject = JsonConvert.DeserializeObject<StockSearchResponse>(jsonResponse);

			var stock = new StockSearchResponse
				{
					Current = responseObject.Current,
					Open = responseObject.Open,
					Previous = responseObject.Previous,
					High = responseObject.High,
					Low = responseObject.Low,
					Time = responseObject.Time,
					Change = responseObject.Change,
					PercentChange = responseObject.PercentChange,
					Symbol = responseObject.Symbol
				};
			searchedStocks = new List<StockSearchResponse> { stock };
		}
	}

	void ShowBuyStockForm(string buyOrSell = "clear")
	{
		if (buyOrSell == "buy")
		{
			showSellForm = false;
			showBuyForm = true;
		}
		else if (buyOrSell == "sell")
		{
			showBuyForm = false;
			showSellForm = true;
		}
		else if (buyOrSell == "clear")
		{
			showBuyForm = false;
			showSellForm = false;
			insertedName = "";
			insertedQty = 0;
		}
	}

	async Task ConfirmBuy(StockSearchResponse stock)
	{
		var addModel = new BuyStockModel
		{
			Name = insertedName,
			Symbol = stock.Symbol,
			BuyingPrice = stock.Current,
			CurrentPrice = stock.Current,
			Qty = insertedQty,
		};
		var json = JsonConvert.SerializeObject(addModel);
		var content = new StringContent(json, Encoding.UTF8, "application/json");

		var addedStock = await Http.PostAsync("https://localhost:7282/AddStock/api/addstock", content);

		ShowBuyStockForm();

	}
	async Task ConfirmSell(StockSearchResponse stock)
	{
		ShowBuyStockForm();
	}
	string FormatDateTime(string dateTimeString)
	{
		DateTime time = DateTime.Parse(dateTimeString);
		string formattedTime = time.ToString("HH:mm:ss");
		return formattedTime;
	}

	public class StockSearchResponse
	{
		public float Current { get; set; }
		public float Open { get; set; }
		public float Previous { get; set; }
		public float High { get; set; }
		public float Low { get; set; }
		public float PercentChange { get; set; }
		public float Change { get; set; }
		public string Time { get; set; }
		public string Symbol { get; set; }
	}

	public class BuyStockModel
	{
		public string Name { get; set; }
		public string Symbol { get; set; }
		public float BuyingPrice { get; set; }
		public float CurrentPrice { get; set; }
		public int Qty { get; set; }
	}
}
